In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_excel('/storage/emulated/0/SampleData.xlsx',sheet_name='SalesOrders')

In [4]:
df.head()

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2019-01-06     East    Jones  Pencil     95       1.99  189.05
1 2019-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2019-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2019-02-26  Central     Gill     Pen     27      19.99  539.73
4 2019-03-15     West  Sorvino  Pencil     56       2.99  167.44